* {
    font-family: 'Baloo 2', sans-serif;
}

.navbar-header {
    background-color: aquamarine;
}

.navbar-default .navbar-brand {
    font-weight: bold;
    font-size: 2em;
}

#collapsable-menu>ul>li>a{
    font-size:1.5em;
    color: #777777;
    text-align: center;
    background-color: lightgrey;
    border: 1px solid black;
    width: 100%;
}

.text-section {
    background-color: darkgrey;
    margin: 10px;
}

ul {
    padding: 0px;
}

/**** DESKTOP md ****/

/**** TABLET sm ****/

/**** MOBILE xs ****/